$header-bg: #24292e;
$my-font: 'Maven Pro', sans-serif;

$color-default: #c9d1d9;
$color-mute: #8b949e;




$content-bg: #0d1117;
$hover-bg: #30363d;
$hover-text-color: #58a6ff;
$html-span: #e34c26;
$css-span:#563d7c;
$js-span: #f1e05a;
$span-border:#ffffff33;
$active-border-bottom: #f78166;
